  
        @media (max-width: 767px) {
            #cep, .btn-verificar-entrega {
                width: 100% !important;
                height: 50px !important;
                margin: 0px !important;
            }
        }

        #form-verificacao-frete {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            gap: 10px;
        }
        #cep {
            width: 48%;
        }
        .btn-verificar-entrega {
            width: 48%;
         
            
        }
     
